 <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>nexus-repo</id>
      <username>admin</username>
      <password>fc7a92e2-b1b3-3059-a0b5-19d61779ae7b</password>
    </server>
  </servers>
</settings>

