 <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>java</id>
      <username>mukesh3258</username>
      <password></password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>java</id>
      <name>java</name>
      <url>https://pkgs.dev.azure.com/mukesh3258/_packaging/java/maven/v1</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>

